.related-ad-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;

  padding: 1rem;
}

.related-ad-card > * {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.user {
  padding: 0rem 2rem 0 2rem;
}
